/* BODY */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;

    background:
    radial-gradient(
        circle at 20% 20%,
        rgba(0,255,150,0.08),
        transparent 30%
    ),

    radial-gradient(
        circle at 80% 30%,
        rgba(50,255,180,0.06),
        transparent 35%
    ),

    radial-gradient(
        circle at top,
        #132b24 0%,
        #09130f 40%,
        #050505 100%
    );
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image:
    radial-gradient(
        rgba(255,255,255,0.05) 2px,
        transparent 2px
    );

    background-size: 60px 60px;

    pointer-events: none;

    
}


section {
    padding: 120px 20px;

    border-bottom:1px solid rgba(255,255,255,.05);
}



/* CAPA */

.capa {
    width: 200px;
    max-width: 90%;
    transition: 0.3s;
}

.capa:hover {
    transform: scale(1.04);
}
.dj {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.8);

 box-shadow:
        0 0 20px rgba(255,255,255,0.15),
        0 0 60px rgba(50,255,180,0.15);

    object-fit: cover;
    transition: 0.3s;
}

.dj:hover {
    transform: scale(1.05);
}


/* HOME */



#home {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;

    position: relative;
}

#home::before {
    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: rgba(255,255,255,0.05);

    border-radius: 50%;

    filter: blur(120px);

    z-index: -1;
}

#home p {
    max-width: 700px;

    font-size: 20px;
    line-height: 1.7;

    opacity: 0.8;

    margin-bottom: 40px;
}

.small-text {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.7;
}

/* TITLES */

h1 {
    font-size: 60px;
    max-width: 900px;

    margin-bottom: 20px;

    letter-spacing: 2px;
}

#benefits h2 {
    font-size: 42px;
    margin-bottom: 60px;
}

/* BUTTON */

button {
    background: white;
    color: black;

    font-weight:bold;

    letter-spacing:1px;

    border: none;

    padding: 15px 35px;

    border-radius: 50px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;
    
}

button:hover {

    transform:
        scale(1.05)
        translateY(-4px);

    box-shadow:
        0 0 20px rgba(255,255,255,0.25),
        0 0 50px rgba(50,255,180,0.25);
}

.plan button {
    margin-bottom: 20px;
}


/* TEACHER */

.teacher-photo {
    width: 300px;
    max-width: 100%;

    border-radius: 20px;

    box-shadow:
        0 0 20px rgba(255,255,255,0.15),
        0 0 50px rgba(50,255,180,0.12);

    margin: 30px 0;

    transition: 0.3s;
}

.teacher-photo:hover {
    transform: scale(1.03);
}

#teacher {
    max-width: 800px;
    margin: auto;
}

#teacher p {
    line-height: 1.8;
    opacity: 0.85;
}

/* PLANS */


.plans-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap: 30px;

    max-width: 1200px;
    margin: auto;
}

.plan{

    background:rgba(255,255,255,.04);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.10);

    border-radius:24px;

    padding:40px;

    display:flex;

    flex-direction:column;

    justify-content:flex-start;

    align-items:center;

    gap:20px;

    min-height:430px;

    transition:.3s;
}

.plan:hover{

    transform:translateY(-10px);

    border-color:rgba(0,255,180,.35);

    box-shadow:
    0 0 25px rgba(0,255,180,.12);
}

.plan h3{

    margin-top:15px;

    font-size:38px;
}

.plan p{

    flex-grow:1;

    line-height:1.7;

    opacity:.8;
}

.plan-button{

    margin-top:auto;
}

/* BENEFITS GRID */




.benefits-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 25px;

    max-width: 1200px;

    margin: auto;
}

.benefit-card {
    background: rgba(255,255,255,0.04);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 20px;

    padding: 30px;

    transition: 0.3s;

}

.benefit-card:hover {
    transform: translateY(-8px);

    border-color: rgba(50,255,180,0.4);

    box-shadow:
        0 0 20px rgba(255,255,255,0.08),
        0 0 40px rgba(50,255,180,0.08);
}

.benefit-card h3 {
    font-size: 24px;

    margin-bottom: 15px;
}

.benefit-card p {
    opacity: 0.8;

    line-height: 1.6;
}

.featured{

    transform:scale(1.04);

    border:2px solid #00d99f;

    box-shadow:
    0 0 30px rgba(0,255,180,.25);
}

.featured:hover{

    transform:
        scale(1.06)
        translateY(-10px);

}

.badge{

    display:inline-block;

    align-self:center;

    padding:6px 14px;

    margin-bottom:25px;

    border-radius:50px;

    background:rgba(50,255,180,.2);

    border:1px solid rgba(50,255,180,.5);

    font-size:12px;
}


/* FQA */


.faq-container {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 25px;

    max-width: 1200px;

    margin: auto;
}

.faq-container {
    background: rgba(255,255,255,0.04);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 20px;

    padding: 30px;

    transition: 0.3s;

}

.faq-container:hover {
    transform: translateY(-8px);

    border-color: rgba(50,255,180,0.4);

    box-shadow:
        0 0 20px rgba(255,255,255,0.08),
        0 0 40px rgba(50,255,180,0.08);
}

.faq-container h3 {
    font-size: 24px;

    margin-bottom: 15px;
}

.faq-container p {
    opacity: 0.8;

    line-height: 1.6;
}

/* CTA */



#cta {
    max-width: 900px;
    margin: auto;
}

#cta h2 {
    font-size: 48px;
}

#cta p {
    font-size: 20px;
    opacity: 0.8;
}


/* MOBILE */  

@media (max-width: 768px) {

    h1 {
        font-size: 36px;
    }

    #home p {
        font-size: 17px;
    }

    #home::before {
        width: 300px;
        height: 300px;
    }
}